<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Saccman</title>
		<link
			href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
			rel="stylesheet"
		/>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
		<link rel="icon" href="./icons/icon48_full.png" type="image/x-icon" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<link rel="manifest" href="saccman.manifest" />
	</head>

	<body class="bg-white">
		<div id="vue" v-cloak>
			<!-- <request-form v-if="page == 'request'"> </request-form> -->
			<login-form
				v-if="!token"
				@change-lang="(l) => lang = l"
				@change-page="(p) => page = p"
				@reg-token="(t) => login(t)"
			></login-form>
			<div v-else-if="token" class="h-screen flex flex-col">
				<nav
					class="
						fixed
						top-0
						z-50
						flex flex-col
						md:flex-row md:mt-0
						gap-3
						bg-blue-100
						w-screen
						px-2
						overflow-hidden
					"
					:class="navSmall ? 'h-10 md:h-auto' : 'pt-2'"
				>
					<a
						href="#table"
						class="p-2 hover:bg-blue-300"
						@click='page = ""'
					>
						{{ t("Table") }}
					</a>
					<a
						href="#bookingList"
						class="p-2 hover:bg-blue-300"
						@click='page = "bookingList"'
					>
						{{ t("Booking List") }}
					</a>
					<a
						href="#newBooking"
						class="p-2 hover:bg-blue-300"
						@click='page = "newBooking"'
					>
						{{ t("New Booking") }}
					</a>
					<a
						v-if="power >= 50"
						href="#admin"
						class="p-2 hover:bg-blue-300 hidden lg:block"
						@click="page = 'admin'"
					>
						{{ t("Admin") }}
					</a>

					<select
						v-model="lang"
						class="
							cursor-pointer
							py-2
							pl-1
							md:pl-2
							bg-transparent
							hover:bg-blue-300
							md:ml-auto
						"
					>
						<option value="ee">Eesti keel</option>
						<option value="en">English</option>
					</select>

					<a href="#" class="p-2 hover:bg-blue-300" @click="logout">
						{{ t("Log out") }}
					</a>

					<button
						class="
							hover:bg-blue-300
							md:hidden
							m-auto
							p-2
							font-2xl
							transform
							transition
						"
						:class="navSmall ? 'order-first rotate-180' : ''"
						@click="() => navSmall = !navSmall"
					>
						&#8896;
					</button>
				</nav>

				<div class="pt-10 flex flex-1 overflow-auto">
					<div id="main" class="flex-1 md:px-3">
						<div v-if="page == '' || page == 'table'" class="flex">
							<booking-table
								:start="new Date(Date.now() - 86400000).toISOString().split('T')[0]"
								:length="153"
								:highlight="highlight"
								@open-booking="openBooking"
								@new-booking="newBooking"
								class=""
							></booking-table>
						</div>
						<div
							v-else-if="page == 'loading'"
							class="h-full flex justify-center items-center"
						>
							Loading...
						</div>
						<new-booking
							v-else-if="page.includes('newBooking')"
							@change-page="(p) => page = p"
						></new-booking>
						<booking
							v-else-if="/booking\d+/.test(page)"
							:booking-id="page.substring(7)"
							@change-page="(p) => page = p"
							@highlight-booking="hl"
						></booking>
						<bookings-list
							v-else-if="page == 'bookingList'"
							@open-booking="openBooking"
						></bookings-list>

						<!-- <request-list
							v-else-if="page == 'requestList'"
							@open-booking="openBooking"
						>
						</request-list> -->
						<admin-page
							v-else-if="page.includes('admin')"
						></admin-page>
					</div>
				</div>
			</div>
		</div>

		<script type="module" src="./js/script.js"></script>
		<!--prod-->
		<script src="https://cdn.jsdelivr.net/npm/vue@3.1/dist/vue.global.min.js"></script>
		<!--prod
		<script src="https://cdn.jsdelivr.net/npm/vue@3.1/dist/vue.global.prod.min.js"></script>
		prod-->
	</body>
</html>
